.content {
	align-content: center;
	align-items: center;
	display: flex;
	height: calc(100% - 10.1em);
	justify-content: space-around;
	overflow: scroll;
	position: absolute;
	top: 6.3em;
	width: 100%;

	.lead-gen {
		color: white;
		font-family: roboto, sans-serif;
		width: 28.8em;

		form {
			border: .1em solid $borderGray;
			border-radius: .2em;
			margin: 0 0 1.71em;
			width: 100%;

			input {
				background-color: rgba(255,255,255,.1);
				border: none;
				border-bottom: .1em solid $borderGray;
				box-sizing: border-box;
				color: white;
				display: block;
				font-size: 1.13em;
				line-height: 1.56em;
				margin: 0;
				padding: 1em;
				width: 100%;

				&::placeholder {
					color: $termsGray;
				}
			}
			.submit {
				background-color: $buttonBlue;
				border-bottom: none;
				cursor: pointer;
				width: 100%;

				&:hover {
					background-color: $hoverBlue;
				};
			}
		}
		.by-click,
		.lead-gen-title,
		.terms {
			text-align: center;
		}
		.by-click,
		.terms {
			font-size: .88em;
			line-height: 1.71em;
		}

		.by-click {
			color: $termsGray;
		}
		.lead-gen-title {
			font-family: roboto-medium, sans-serif;
			font-size: 1.13em;
			letter-spacing: .11em;
			line-height: 1.17em;
			margin: 0 0 1.17em 0;
			text-transform: uppercase;
		}
		.password-hide {
			background-image: url('../../resources/images/hide.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			cursor: pointer;
			height: 1.1em;
			margin: -2.5em 0 0 26em;
			position: absolute;
			transition: opacity .25s ease-out;
			width: 1.6em;

			&.hide {
				opacity: 0;
			}
		}
		.terms {
			display: block;
		}
	}

	.text {
		color: white;
		width: 29.7em;

		h1 {
			font-family: roboto-medium, sans-serif;
			font-size: 4.8em;
			letter-spacing: -.06em;
			line-height: 1.14em;
		}
		h2 {
			font-family: roboto, sans-serif;
			font-size: 1.38em;
			letter-spacing: -.01em;
			line-height: 1.55em;
			margin: 1.14em 0 0;
		}
	}

	@media all and (max-width: 1024px) {
		flex-direction: column;
	    height: calc(100% - 13.1em);
	}
}